@import '../variables';

.HeroSection {
  $basicTreshold: $mdTreshold;
  $heroHeight: 540px;
  $heroHeightSmall: 240px;

  background: radial-gradient(
    70% 60% at 80% 30%,
    rgba(var(--goldRGB) / 30%) 0%,
    rgba(var(--goldRGB) / 0%) 100%
  );

  display: flex;
  flex-direction: column;

  .HeroVisualBlock {
    position: relative;
    overflow: hidden;
    .FullVisual {
      user-select: none;
      &,
      &:after {
        // LazyImage:after
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url('../images/Hero/visual-background-thumb.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    height: 50vmin; // $heroHeightSmall;
    min-height: 200px;
  }

  .HeroMainBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    .Wrapper {
      padding: 20px;
      text-align: center;
    }
    .Title {
      color: var(--goldColor);
      font-size: 6vw;
      font-family: var(--softFont);
      text-transform: uppercase;
    }
    .SubTitle {
      color: #fff;
      font-size: 3vw;
      line-height: 1.3;
    }
    .LandingButton {
      font-size: 1em;
      padding: 1em 2em;
      text-transform: uppercase;
      border-radius: 6px;
      display: block;
      margin: 2em auto;
      white-space: normal;
      transition: all var(--transitionTimeMs);
      &:hover {
        opacity: 0.8;
      }
    }
  }

  .AreaLogo {
    text-align: center;
    display: flex;
    margin: 2.25em 0;
    &,
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    a {
      .Logo {
        user-select: none;
        width: 40vw;
        height: 10vw;
        background-image: url('../images/Hero/area-logo.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
      span {
        display: block;
        color: white;
        &.Text2 {
          color: var(--goldColor);
        }
      }
      transition: all var(--transitionTimeMs);
      &:hover {
        &,
        span {
          text-decoration: none;
          opacity: 0.8;
        }
      }
    }
  }

  @media (width >= $basicTreshold) {
  .AreaLogo {
    &,
    a {
      align-items: flex-start;
    }
    a {
      .Logo {
        width: 23vw;
        height: 6vw;
      }
    }
  }

    & {
      flex-direction: row;
    }
    .HeroVisualBlock {
      order: 2;
      flex: 1;
      height: 540px;
    }
    .HeroMainBlock {
      flex: 1;
      .Wrapper {
        text-align: left;
      }
      .Title {
        font-size: 3vw;
        // font-family: $softFontIt;
      }
      .SubTitle {
        font-size: 1.4vw;
      }
      .LandingButton {
        font-size: 1.25em;
        margin: 0;
        margin-top: 3em;
      }
    }
  }

}
